# When install package, make it version to "*"
save-workspace-protocol = rolling
save-prefix = ''

# Use NODE_ENV
shell-emulator=true

# Add common config to sub package, use public-hoist-pattern avoid some package need to be root location
# When use npm8.x, array is not effect. see https://github.com/pnpm/pnpm/issues/5347
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = *@eslint*
public-hoist-pattern[] = *prettier*
public-hoist-pattern[] = lint-staged
public-hoist-pattern[] = *stylelint*
public-hoist-pattern[] = *@commitlint* 
public-hoist-pattern[] = *cz*
public-hoist-pattern[] = simple-git-hooks
public-hoist-pattern[] = *changeset*